[submodule "cmake"]
	path = cmake
	url = git@github.com:cyyever/cmake.git
[submodule "third_party/algorithm"]
	path = third_party/algorithm
	url = git@github.com:cyyever/algorithm.git
[submodule "third_party/naive_cpp_lib"]
	path = third_party/naive_cpp_lib
	url = git@github.com:cyyever/naive_cpp_lib.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = git@github.com:pybind/pybind11.git
